<!-- products.ejs -->

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin/list-products.css">
    <title>Products Details</title>
</head>

<body>

    <div class="container mt-5">

        <% data.stockable_pile.forEach((product)=> { %>

            <!-- Display Product Name -->
            <div class="jumbotron">
                <h3 class="display-4"><%- product.name %></h3>
                <!-- Button to Toggle Building Details -->
                <button class="btn btn-primary" onclick="toggleBuildings('<%- product.name %>')"
                    id="toggleButton<%- product.name %>">
                    Expandir
                </button>
            </div>

            <!-- Container for Buildings -->
            <div id="<%- product.name %>Buildings" class="row" style="display: none;">

                <div class="card-group">

                    <!-- Display Buildings -->
                    <% product.locations.forEach((location, index)=> { %>
                        <div class="col-md-6 mb-4">
                            <!-- Each building takes up 6 columns on medium-sized screens and larger -->
                            <div class="card">
                                <div class="card-header">
                                    <h5 class="mb-0"><%- location.name %></h5>
                                </div>
                                <div class="card-body">
                                    <!-- Display Sizes and Stock for each Building -->
                                    <!-- Apply custom style if stock is lower than 5 -->
                                    <% location.availability.forEach((item)=> { %>
                                        <div class="row list-editable">
                                            <div class="col-md-6">
                                                <p class="card-text <%= item.stock < 5 ? 'low-stock' : '' %>">
                                                    Talla: <%- item.size %>, Disponibilidad: <%- item.stock %>
                                                </p>
                                            </div>
                                            <div class="col-md-6 text-md-right">
                                                <a name="" id="" class="btn btn-primary"
                                                    href="/admin/edit-product?building-id=<%=location.id%>&inventory-pledge-id=<%=product.id%>&inventory-size-id=<%=item.size%>"
                                                    role="button">Editar</a>
                                            </div>
                                        </div>
                                        <% }); %>
                                </div>
                            </div>
                        </div>

                        <!-- Start a new row after every 2 columns -->
                        <% if ((index + 1) % 2===0) { %>
                </div>
            </div>
            <div class="row">
                <% } %>
                    <% }); %>
            </div>


            <% }); %>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="/js/admin/list-products.js"></script>

</body>

</html>