<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/admin/list-products.css">
    <title>Products Details</title>
</head>

<nav>
    <%- include("../../../partials/nav.ejs")%>
</nav>

<body>

    <div class="container">
        <h1>Edicion de edificio</h1>
        <p>Recuerda que el edificio puede ser el punto de venta o la misma fabrica, el campo ID no puede ser editado, el
            nombre debe ser unico</p>

        <form action="/admin/update-building" method="POST">
            <div class="form-group">
                <label for="building_id">Id</label>
                <input type="text" class="form-control" name="building_id" id="building_id"
                    aria-describedby="building_id" placeholder='ID del edificio' disabled value="<%=building.id%>">
                <small id="building_id class=" form-text text-muted">ID del edificio, no se debe editar</small>
            </div>
            <div class="form-group">
                <label for="building_name">Nombre</label>
                <input type="text" class="form-control" name="building_name" id="building_name"
                    aria-describedby="building_bame" placeholder="Nombre del edificio" value="<%=building.name%>">
                <small id="building_bame" class="form-text text-muted">Nombre del edificio</small>
            </div>
            <div class="form-group">
                <label for="building_direction">Direccion</label>
                <input type="text" class="form-control" name="building_direction" id="building_direction"
                    aria-describedby="building_direction_a" placeholder="Direccion del edificio"
                    value="<%=building.direction%>">
                <small id="building_direction_a" class="form-text text-muted">Direccion del edificio</small>
            </div>
            <button type="submit" class="btn btn-primary">Actualizar</button>
            <a name="delete-building" id="delete-building" class="btn btn-danger"
                href="/admin/remove-building/<%=building.id%>" role="button">Borrar</a>
        </form>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/admin/list-products.js"></script>
</body>


<footer>
    <%- include("../../../partials/footer.ejs")%>
</footer>

</html>