<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Admin View</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Add your additional CSS styles here if needed -->
    <link rel="stylesheet" href="/css/admin/admin-view.css" />
  </head>

  <nav><%- include("../../../partials/nav.ejs")%></nav>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div><%- include("../../../partials/asides/admin-aside") %></div>

        <!-- Main content area -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <!-- TITLE -->
          <div
            class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
          >
            <h1 class="center-text">REPORTE</h1>
            <p>Se listan todos los resultados para el reporte solicitado</p>
          </div>
          <div>
            <div
              class="alert alert-info alert-dismissible fade show"
              role="alert"
            >
              <button
                type="button"
                class="close"
                data-dismiss="alert"
                aria-label="Close"
              >
                <span aria-hidden="true">&times;</span>
              </button>
              <strong> <%=reportType%> </strong> reporte generado
            </div>

            <script>
              $(".alert").alert();
            </script>
          </div>
          <div>
            <div class="table-responsive">
              <!-- TABLE -->
              <table class="table">
                <thead>
                  <!-- GET KEYS TO DISLAY IN TITLES -->
                  <tr>
                    <% table_data.titles.forEach(_title=> { %>
                    <th class="center-text"><%=_title%></th>
                    <% }); %>
                  </tr>
                </thead>
                <tbody>
                  <!-- GET DATA TO DISPLAY IN TABLE -->
                  <div>
                    <!-- iterate over vector -->
                    <% table_data.data.forEach(_data_row=> { %>
                    <tr>
                      <!-- Access each key-value pair within the current JSON object -->
                      <% for (const [key, value] of Object.entries(_data_row)) {
                      %>
                      <td class="center-text"><%=value%></td>
                      <% } %>
                    </tr>

                    <tr>
                      <% }); %>
                    </tr>
                  </div>
                </tbody>
              </table>
            </div>
          </div>
        </main>
      </div>
    </div>
  </body>

  <footer><%- include("../../../partials/footer.ejs")%></footer>
</html>

<!-- Bootstrap JS and dependencies -->
<script src="/js/bootstrap.js"></script>
<!-- Your custom JavaScript to handle panel visibility -->
<script src="/js/admin/list-user.js"></script>
