<!DOCTYPE html>
<html lang="ES">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Vista de vendedor</title>
    <!-- Include Bootstrap CSS from CDN -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <!-- Add your additional CSS styles here if needed -->
    <link rel="stylesheet" href="/css/admin/admin-view.css" />
  </head>

  <nav><%- include("../../../partials/nav.ejs")%></nav>

  <body>
    <div class="container-fluid">
      <div class="row">
        <div><%- include("../../../partials/asides/sells-aside") %></div>

        <!-- Main content area -->
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 mt-5">
          <div>
            <h1>Carrito de compra</h1>
            <p>
              Edita el listado para la factura antes de pasar al siguiente paso
            </p>
            <div>
              <%- include("../../../partials/messages.ejs", {message: message,
              error_message: error_message})%>
            </div>
          </div>

          <section class="container container-fluid mt-4">
            <% shopping_cart.forEach( _bag_item => {%>
            <!-- SECTION TO DISPLAY CUSTOM FORMS -->
            <div class="mb-5">
              <div class="row d-flex justify-content-between table-info p-4">
                <h3><%=_bag_item.pledge_name%></h3>
                <p>
                  Producto con id
                  <strong><%=_bag_item.pledge_id%></strong> talla
                  <strong><%=_bag_item.pledge_size%></strong>
                </p>
              </div>
              <div class="row border border-info pt-4 pb-4">
                <div class="col-md-7 d-flex justify-content-end">
                  <form
                    class="form"
                    method="GET"
                    action="/sells/cart/edit/<%=_bag_item.pledge_id%>/<%=_bag_item.pledge_size%>"
                  >
                    <div
                      class="form-group mb-2 form-inline d-flex justify-content-end"
                    >
                      <label for="quantity" class="sr-only">Número:</label>
                      <input
                        min="1"
                        type="number"
                        step="1"
                        class="form-control mr-2"
                        id="quantity"
                        name="quantity"
                        placeholder="##"
                        value="<%=_bag_item.quantity%>"
                        required
                      />
                      <button type="submit" class="btn btn-primary btn-flat">
                        Actualizar
                      </button>
                    </div>
                    <% if(!(Object.keys(_bag_item.extras).length === 0)){%>
                    <div class="row d-felx justify-content-end">
                      <div class="col-md-6">
                        <div class="form-group">
                          <label for="extras_note">Notas</label>
                          <textarea
                            class="form-control"
                            name="extras_note"
                            id="extras_note"
                            rows="3"
                            maxlength="100"
                          >
<%=_bag_item.extras.extras_note%></textarea
                          >
                        </div>
                      </div>
                      <div class="col-md-4">
                        <div class="form-group">
                          <label for="extras_price">Precio (GTQ)</label>
                          <input
                            type="number"
                            step="0.01"
                            min="1"
                            class="form-control"
                            name="extras_price"
                            id="extras_price"
                            aria-describedby="extras_price_small"
                            placeholder="Q##.##"
                            value="<%=Number(_bag_item.extras.extras_price).toFixed(2)%>"
                          />
                          <small
                            id="extras_price_small"
                            class="form-text text-muted"
                            >Ingresa el precio del extra</small
                          >
                        </div>
                      </div>
                    </div>
                    <% }%>
                    <!-- OTHER DIV, THIS IS NOT INLINE -->
                  </form>
                </div>
                <div class="col-md-5">
                  <a
                    class="btn btn-success mr-2"
                    role="button"
                    href="/sells/cart/increase-one/<%=_bag_item.pledge_id%>/<%=_bag_item.pledge_size%>/<%=!(Object.keys(_bag_item.extras).length === 0)%>"
                  >
                    <i class="fas fa-plus"></i>Agregar
                  </a>
                  <a
                    class="btn btn-warning"
                    role="button"
                    href="/sells/cart/decrease-one/<%=_bag_item.pledge_id%>/<%=_bag_item.pledge_size%>/<%=!(Object.keys(_bag_item.extras).length === 0)%>"
                  >
                    <i class="fas fa-minus"></i> Quitar
                  </a>
                  <a
                    class="btn btn-danger mr-2"
                    role="button"
                    href="/sells/cart/remove/<%=_bag_item.pledge_id%>/<%=_bag_item.pledge_size%>/<%=!(Object.keys(_bag_item.extras).length === 0)%>"
                  >
                    <i class="fas fa-trash-alt"></i> Borrar
                  </a>
                </div>
              </div>
            </div>
            <% });%>
          </section>
          <!-- SPLIT LINE -->
          <!-- Horizontal split line -->
          <div class="row">
            <div class="col">
              <hr class="split-line" />
            </div>
          </div>
          <!-- DIV TO DISPLAY RESULT IN TABLE -->
          <section class="container mt-2" id="summary">
            <!-- RESUMEN -->
            <table class="table">
              <thead>
                <tr>
                  <th class="text-center">NOMBRE</th>
                  <th class="text-center">TALLA</th>
                  <th class="text-center">CANTIDAD</th>
                  <th class="text-center">PRECIO UNITARIO</th>
                  <th class="text-center">PRECIO EXTRAS</th>
                  <th class="text-center">SUBTOTAL</th>
                </tr>
              </thead>
              <tbody>
                <% let total = 0 %> <% shopping_cart.forEach( _bag_item => {%>
                <tr>
                  <td scope="row" class="text-left">
                    <%=_bag_item.pledge_name%>
                  </td>
                  <td class="text-center"><%=_bag_item.pledge_size%></td>
                  <td class="text-right"><%=_bag_item.quantity%></td>
                  <td class="text-right">
                    Q<%=Number(_bag_item.pledge_price).toFixed(2)%>
                  </td>
                  <%let tmp_extras = isNaN(_bag_item.extras.extras_price) ?
                  Number('0') : Number(_bag_item.extras.extras_price); %>
                  <td class="text-right">
                    <%= `Q ${tmp_extras.toFixed(2)}` %>
                  </td>
                  <% let subtotal = _bag_item.pledge_price * _bag_item.quantity
                  + tmp_extras; total += subtotal; %>
                  <td class="text-right"><%= `Q${subtotal.toFixed(2)}` %></td>
                  <% });%>
                </tr>
                <!-- TOTAL ON TABLE -->
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-right">TOTAL</td>
                  <td class="text-right">Q<%=total.toFixed(2)%></td>
                </tr>
              </tbody>
            </table>

            <div class="alert alert-dark" role="alert">
              El total de la factura es de
              <strong>Q<%=total.toFixed(2)%></strong>
            </div>

            <!-- SAVE BILL -->
            <div class="row d-flex justify-content-center">
              <div class="col-lg-5">
                <!-- BUTTON TO CONFIRM BILL -->
                <a
                  name="save_bill"
                  id="save_bill"
                  class="btn btn-outline-primary btn-block"
                  href="/sells/cart/checkout/"
                  role="button"
                  >GENERAR RECIBO</a
                >
              </div>
            </div>
          </section>
        </main>
      </div>
    </div>
    <!-- MODALS -->
    <!-- Modal -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">
              Agregar al carrito
            </h5>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-label="Close"
            >
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <form action="/sells/cart/add/" method="post" id="addToCartForm">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="pledge_id">Codigo</label>
                    <input
                      type="number"
                      class="form-control"
                      name="pledge_id"
                      id="pledge_id"
                      aria-describedby="pledge_id_small"
                      placeholder="Codigo producto"
                      readonly
                      required
                    />
                    <small id="pledge_id_small" class="form-text text-muted"
                      >Codigo del producto (no editable)</small
                    >
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-group">
                    <label for="pledge_size">Talla</label>
                    <input
                      type="text"
                      class="form-control"
                      name="pledge_size"
                      id="pledge_size"
                      aria-describedby="pledge_size_small"
                      placeholder="Talla xxx"
                      readonly
                      required
                    />
                    <small id="pledge_size_small" class="form-text text-muted"
                      >Talla del producto (no editable)</small
                    >
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="pledge_name">Nombre</label>
                <input
                  type="text"
                  class="form-control"
                  name="pledge_name"
                  id="pledge_name"
                  aria-describedby="pledge_name_small"
                  placeholder="Producto xxx"
                  readonly
                  required
                />
                <small id="pledge_name_small" class="form-text text-muted"
                  >Nombre del producto (no editable)</small
                >
              </div>
              <div class="form-group">
                <label for="quantity">Cantidad</label>
                <input
                  type="number"
                  class="form-control"
                  name="quantity"
                  id="quantity"
                  aria-describedby="quantity_small"
                  placeholder="1"
                  required
                  step="1"
                  min="1"
                />
                <small id="quantity_small" class="form-text text-muted"
                  >Cantidad a agregar a carrito</small
                >
              </div>
              <!-- OPTIONAL EXTRA ATTRIBUTES -->
              <div>
                <div class="form-check form-check-inline">
                  <label class="form-check-label">
                    <input
                      class="form-check-input"
                      type="checkbox"
                      name="addExtras"
                      id="addExtras"
                      value="true"
                    />
                    Agregar extras
                  </label>
                </div>
                <div class="row" id="extrasInputsForm" hidden>
                  <div class="col-md-8">
                    <div class="form-group">
                      <label for="extras_note">Notas</label>
                      <textarea
                        class="form-control"
                        name="extras_note"
                        id="extras_note"
                        rows="5"
                      ></textarea>
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <label for="extras_price">Precio</label>
                      <input
                        type="number"
                        class="form-control"
                        name="extras_price"
                        id="extras_price"
                        min="0"
                        step="0.01"
                        aria-describedby="extras_price_small"
                        placeholder="Q10.00"
                      />
                      <small
                        id="extras_price_small"
                        class="form-text text-muted"
                        >Precio para el extra/(s)</small
                      >
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary" form="addToCartForm">
              Agregar</button
            ><button
              type="button"
              class="btn btn-secondary"
              data-dismiss="modal"
            >
              Cerrar
            </button>
          </div>
        </div>
      </div>
    </div>
  </body>

  <footer><%- include("../../../partials/footer.ejs")%></footer>
</html>

<!-- Bootstrap JS and dependencies -->
<script src="/js/bootstrap.js"></script>
<!-- Your custom JavaScript to handle panel visibility -->
<script src="/js/sells/stock-search.js"></script>
<script
  src="https://kit.fontawesome.com/c3025f5f48.js"
  crossorigin="anonymous"
></script>
